@font-face {
    font-family: Teko;
    src: url("../fonts/teko/Teko-Regular.ttf")
}

@font-face {
    font-family: Granstander;
    src: url("../fonts/granstander/Grandstander-VariableFont_wght.ttf");
}

@font-face {
    font-family: PressStart2p;
    src: url("../fonts/pressStart2p/PressStart2P-Regular.ttf");
}